* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

body {
  min-height: 100%;
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  background-color: #ffffff;
  background-image: url("images/back.png");
  color: #000000;
}

p {
  margin: 0 0 15px;
}

hr {
  border: none;
  height: 1px;
  background-color: #808080;
}

form {
  padding: 0;
  margin: 0;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 1px;
  border: 1px solid purple;
  font-family: monospace;
}

img {
  border: 0;
}

table {
  border: 1px solid #000000;
  border-collapse: collapse;
}

table th, table td {
  padding: 0.2em 0.3em;
  border: 1px solid #000000;
  vertical-align: top;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#header {
  height: 90px;
  padding-top: 17px;
  background: url("images/top1.png") repeat-x;
  text-align: center;
}

.mast {
  font-size: 105%;
}

.mast_first {
  margin-top: 0;
}

form > .mast {
  font-size: 110%;
}

.jsonlogo {
  float: right;
  margin-left: 1em;
}

.mainbody {
  padding-left: 1em;
  padding-right: 1em;
}

.footer {
  background-color: #ffffaa;
  padding: 3px;
}

.noa {
  line-height: 0;
  font-size: 0;
}

.titled {
  border-bottom: 1px dashed #000000;
}

#output {
  margin-top: 1em;
  margin-bottom: 1em;
}

.desc {
  display: none;
  width: 40%;
  position: absolute;
  z-index: 99;
  padding: 1em;
  border: 1px solid #000000;
  background-color: #ffffee;
}

.closep {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin-top: -0.3em;
  margin-bottom: 0.5em;
  font-size: 105%;
}

.object, .array {
  display: inline-block;
  position: relative;
  padding: 1.5em;
  border: 1px solid #000000;
}

.object {
  background-color: #eeeeee;
}

.object > table {
  background-color: #ffffff;
}

.array {
  background-color: #eeeeff;
}

.array > table {
  background-color: #ffffee;
}

td > div.object, td > div.array {
  margin: 0.3em;
}

.string {
  color: #000000;
  word-break: break-word;
}

.number {
  color: #0000ff;
}

.boolean {
  color: #ff8000;
}

.void {
  color: #0000ff;
}

.widgets {
  position: absolute;
  top: 1em;
  right: 1.5em;
  width: 9px;
  height: 20px;
}

.statson {
  padding: 0.5em;
  background-color: #ffffff;
  border: 1px solid #a0a0a0;
}

#statscon {
  display: none;
}

#stats table {
  border: none;
}

#stats table tr {
  border: none;
}

#stats table td {
  border: none;
}

.ex {
  vertical-align: middle;
  margin-bottom: 1px;
  margin-top: 1px;
}

.clear {
  clear: both;
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

div > #submit {
  font-size: large;
}

div > #reset {
  font-size: large;
}

div > #help {
  font-size: large;
}

div > #statst {
  font-size: large;
}
