
h3 { margin-top: -0.3em; margin-bottom: 0.5em; font-size: 105%; }

table { border: 1px solid #000000; border-collapse: collapse; }
table td, table th { padding: 0.2em 0.3em; border: 1px solid #000000; vertical-align: top; }

div.object { padding: 1.5em; border: 1px solid #000000; background-color: #eeeeee; height: 1%; position: relative; }
.objecttable { background-color: #ffffff; }
div.array { padding: 1.5em; border: 1px solid #000000; background-color: #eeeeff; height: 1%; position: relative; }
.arraytable { background-color: #ffffee; }


.string { color: #000000; }
.number { color: #0000ff; }
.boolean { color: #ff8000; }
.void { color: #0000ff; }

.widgets { position: absolute; top: 1em; right: 1.5em; width: 9px; height: 20px; }

#text { width: 99%; margin-bottom: 0.5em; border: 1px solid purple; padding: 1px; }
